div#langSwicher
    div.swicher.lang-pt
        a.swicher-link(href="./pt", title="Português")
            img.flag(src="./img/flag/pt.png", alt="Português")
        a.swicher-link(href="./en", title="English")
            img.flag(src="./img/flag/en.png", alt="English")
