div.ui-triangle.big
    h1.dev-name Renan Dias
    h2.dev-title Web developer
    div.ui-triangle.medium
        div.ui-triangle.small
            a(href="#", title="Gmail")
                span.hidden Gmail
                img(src="", alt="Gmail")
        div.ui-triangle.small
            a(href="#", title="Gmail")
                span.hidden Gmail
                img(src="", alt="Gmail")
        div.ui-triangle.small
            a(href="#", title="Gmail")
                span.hidden Gmail
                img(src="", alt="Gmail")
        div.ui-triangle.small
            a(href="#", title="Gmail")
                span.hidden Gmail
                img(src="", alt="Gmail")
