@headerDevCl: #FFFFFF;
@headerDevHeight: 300px;
@headerDevNameCl: #000000;
@headerDevTitleCl: #3CA340;
@headerSwicher: 100px;
@headerMenuCl: #FFFFFF;
@headerMenuBCl: #179830;
@headerMenuFs: 24px;

#header {
    position: relative;
}

#developerInfo {
    position: relative;
    height: @headerDevHeight;
    padding-top: 20px;

    &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 3000px 3000px 0 0;
        border-color: #FFFFFF transparent transparent transparent;
        z-index: 1;
    }

    & > * {
        position: relative;
        z-index: 2;
    }

    .dev-name {
        margin-bottom: 10px;
        font-size: 36px;
        text-transform: uppercase;
        color: @headerDevNameCl;
    }
    .dev-title {
        margin-bottom: 10px;
        font-size: 20px;
        text-transform: uppercase;
        text-decoration: underline;
        color: @headerDevTitleCl;
    }
    .dev-links {
        .link {
            a {

            }
            img {

            }
        }
    }
}

#mainMenu {
    margin-left: @headerDevHeight;
    margin-right: @headerSwicher;

    .menu-item {

        a {
            padding: 10px 0;
            font-size: @headerMenuFs;
            color: @headerMenuCl;
            border: 2px solid transparent;
            opacity: 0.7;

            &:hover {
                border-color: @headerMenuBCl;
                opacity: 1;
            }
        }
    }
}

#langSwicher {
    position: absolute;
    top: 0;
    right: 0;
    width: @headerSwicher;
}
